.concert-first-section {
    background-attachment: fixed;
    background-image: url("https://i.ytimg.com/vi/ne3rtqD_iiY/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.concert-first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.concert-first-container img {
    display: flex;
    justify-content: center;
    align-items: center;
}