@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');

.title-font {
    font-family: 'Covered By Your Grace', cursive;
}

.album-title-name {
    font-size: 4rem;
    color: white;
}

a { 
    color: gray;
    opacity: 0.8;
}