  
.header {
    background: none;
    display: table;
    table-layout: fixed;
    width: 50%;
    z-index: 999;
    position: sticky;
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.item:hover {
    transition: linear 0.4s;
    background: black;
    opacity: 0.6;
}

.item:active, .item.active {
    border-bottom: 2px solid black;
    opacity: 0.6;
    color: white;
}