@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Nanum+Pen+Script&display=swap');
.title-title-font {
    font-family: 'Covered By Your Grace', cursive;
}

.main-title {
    font-size: 6rem;
    z-index: 2;
    color: white;
}

.line-text {
    text-decoration: line-through;
    color: white;
}